{{#if template}}
<template>
  <div class="{{lowerCase name}}-main">
    {{ properCase name }}
  </div>
</template>
{{/if}}

{{#if script}}
<script lang="ts">
import {
  getCurrentInstance, reactive, toRefs, defineComponent, ComponentInternalInstance,
} from 'vue';

export default defineComponent({
  name: '{{ properCase name }}',
  props: {},
  setup() {
    const { proxy } = getCurrentInstance() as ComponentInternalInstance;
    console.log(proxy);
    const state = reactive({});
    return {
      ...toRefs(state),
    };
  },
});
</script>
{{/if}}

{{#if style}}
<style lang="less" scoped>
.{{lowerCase name}}-main{
}
</style>
{{/if}}
